@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
* body .text-2nd {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}
* body .text-2nd :hover {
  opacity: 0.6;
}
* body header {
  padding: 1.2rem;
  background-color: rgba(137, 43, 226, 0.7843137255);
  position: sticky;
  top: 0;
  z-index: 1;
}
* body header .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  * body header .navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
* body header .navbar-container .navbar-list {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
@media screen and (max-width: 480px) {
  * body header .navbar-container .navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
* body header .navbar-container .navbar-list > li {
  list-style: none;
}
* body header .navbar-container .navbar-list > li > a {
  text-decoration: none;
  color: white;
}
* body header .navbar-container .account-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
}
* body main figure #slide-container {
  width: 600dvw !important;
}
* body main figure #slide-container .slide-img {
  width: 100dvw !important;
}
* body main #home {
  width: 100%;
  height: 80vh;
  background-color: rgba(137, 43, 226, 0.7843137255);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 30% 5% 40% 15%;
  font-family: "Poppins", sans-serif;
  color: white;
}
* body main #home .home-logo {
  grid-row-start: 3;
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
}
* body main #home .home-intro {
  grid-row-start: 2;
  grid-column-start: 2;
}
* body main #home .home-intro > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}
* body main #home .home-intro2 {
  grid-row-start: 4;
  grid-column-start: 2;
}
* body main #home .home-intro2 > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}
* body main #destinos .destinos-title {
  text-align: center;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
}
* body main #destinos #destinos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
* body main #destinos #destinos-container .destinos-card {
  width: 25vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(234, 232, 232, 0.8);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
* body main #destinos #destinos-container .card-img-top {
  width: 25vw;
  height: 28vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
* body main #destinos #destinos-container .card-body {
  padding: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
* body main #destinos #destinos-container .card-body .card-title {
  font-family: "Poppins", sans-serif;
}
* body main #destinos #destinos-container .card-body .card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
* body main #destinos #destinos-container .card-body .card-info > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
* body main #destinos #destinos-container .card-body .card-info .card-text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
* body main #destinos #destinos-container .card-body .card-info .card-text > strong {
  color: #32960e;
  font-size: 1.8rem;
}
* body main #promoçoes {
  background-color: #cd23fa;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
* body main #promoçoes .promoçoes-title {
  text-align: center;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
* body main #promoçoes #promoçoes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
* body main #promoçoes #promoçoes-container .promoçoes-card {
  width: 25vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(234, 232, 232, 0.8);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
* body main #promoçoes #promoçoes-container .card-img-top {
  width: 25vw;
  height: 28vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
* body main #promoçoes #promoçoes-container .card-body {
  padding: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
* body main #promoçoes #promoçoes-container .card-body .card-title {
  font-family: "Poppins", sans-serif;
}
* body main #promoçoes #promoçoes-container .card-body .card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
* body main #promoçoes #promoçoes-container .card-body .card-info > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
* body main #promoçoes #promoçoes-container .card-body .card-info .card-text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
* body main #promoçoes #promoçoes-container .card-body .card-info .card-text > strong {
  color: #32960e;
  font-size: 1.8rem;
}
* body main #contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
* body main #contato .contato-title {
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
}
* body main #contato .contato-container {
  width: 50vw;
  border-radius: 8px;
  background-color: #af71e8;
  padding: 1.4rem;
  font-family: "Ubuntu", sans-serif;
}
* body main #contato .contato-container .contato-form {
  display: flex;
  flex-direction: column;
}
* body main #contato .contato-container .contato-form > label {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}
* body main #contato .contato-container .contato-form > input,
* body main #contato .contato-container .contato-form select {
  padding: 0.8rem;
  border-radius: 2px;
}
* body main #contato .contato-container .contato-form #contato-button {
  background-color: #f022d8;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
* body main #contato .contato-container .contato-form > textarea {
  height: 25vh;
  padding: 0.6rem;
  border-radius: 2px;
  margin-bottom: 2rem;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
